src/main/resources/xsd/gedcom-autogenerated.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ann="http://www.clarin.eu">
    <xs:element name="Kinnate">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Gedcom">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="HEAD" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="SOUR" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="SOUR" minOccurs="0" maxOccurs="unbounded"/>
                                                    <xs:element name="NAME" ann:displaypriority="1" minOccurs="0" maxOccurs="unbounded"/>
                                                    <xs:element name="VERS" minOccurs="0" maxOccurs="unbounded"/>
                                                    <xs:element name="CORP" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="CORP" minOccurs="0" maxOccurs="unbounded"/>
                                                                <xs:element name="ADDR" minOccurs="0" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="ADDR" minOccurs="0" maxOccurs="unbounded"/>
                                                                            <xs:element name="ADR1" minOccurs="0" maxOccurs="unbounded"/>
                                                                            <xs:element name="ADR2" minOccurs="0" maxOccurs="unbounded"/>
                                                                            <xs:element name="CITY" minOccurs="0" maxOccurs="unbounded"/>
                                                                            <xs:element name="STAE" minOccurs="0" maxOccurs="unbounded"/>
                                                                            <xs:element name="POST" minOccurs="0" maxOccurs="unbounded"/>
                                                                            <xs:element name="CTRY" minOccurs="0" maxOccurs="unbounded"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="PHON" minOccurs="0" maxOccurs="unbounded"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="DATA" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="DATA" minOccurs="0" maxOccurs="unbounded"/>
                                                                <xs:element name="DATE" minOccurs="0" maxOccurs="unbounded"/>
                                                                <xs:element name="COPR" minOccurs="0" maxOccurs="unbounded"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="SUBM" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="SUBN" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="_HME" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="DEST" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="DATE" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="DATE" minOccurs="0" maxOccurs="unbounded"/>
                                                    <xs:element name="TIME" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="FILE" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="COPR" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="GEDC" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="VERS" minOccurs="0" maxOccurs="unbounded"/>
                                                    <xs:element name="FORM" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="LANG" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="CHAR" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="CHAR" minOccurs="0" maxOccurs="unbounded"/>
                                                    <xs:element name="VERS" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="PLAC" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="FORM" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="NOTE" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="NamedElement" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NamedElement" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="SUBM" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="FAMF" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="TEMP" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="ANCE" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="DESC" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="ORDI" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="RIN" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="NAME"  ann:displaypriority="2" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="ADDR" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ADDR" minOccurs="0" maxOccurs="unbounded"/>
                                                    <xs:element name="ADR1" minOccurs="0" maxOccurs="unbounded"/>
                                                    <xs:element name="ADR2" minOccurs="0" maxOccurs="unbounded"/>
                                                    <xs:element name="CITY" minOccurs="0" maxOccurs="unbounded"/>
                                                    <xs:element name="STAE" minOccurs="0" maxOccurs="unbounded"/>
                                                    <xs:element name="POST" minOccurs="0" maxOccurs="unbounded"/>
                                                    <xs:element name="CTRY" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="PHON" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="LANG" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="OBJE" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="FORM" minOccurs="0" maxOccurs="unbounded"/>
                                                    <xs:element name="TITL" minOccurs="0" maxOccurs="unbounded"/>
                                                    <xs:element name="FILE" minOccurs="0" maxOccurs="unbounded"/>
                                                    <xs:element name="NOTE" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="RFN" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="CHAN" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="DATE" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="DATE" minOccurs="0" maxOccurs="unbounded"/>
                                                                <xs:element name="TIME" minOccurs="0" maxOccurs="unbounded"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="SEX" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="BIRT" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="DATE" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="DEAT" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="DATE" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Relation" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Link" type="xs:string" ann:displaypriority="1"/>
                                        <xs:element name="Type" type="xs:string"/>
                                        <xs:element name="TargetName" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>