src/main/resources/xsd/gedcom-autogenerated.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ann="http://www.clarin.eu">
    <xs:complexType name="UniqueIdentifier">
        <xs:sequence>
            <xs:choice minOccurs="1" maxOccurs="1">
                <xs:element name="LocalIdentifier"/>
                <xs:element name="PersistantIdentifier"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Kinnate">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Gedcom">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="UniqueIdentifier" type="UniqueIdentifier" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="HEAD" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="SOUR" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="SOUR" minOccurs="0" maxOccurs="unbounded" ann:displaypriority="2"/>
                                                    <xs:element name="NAME" ann:displaypriority="1" minOccurs="0" maxOccurs="unbounded"/>
                                                    <xs:element name="VERS" minOccurs="0" maxOccurs="unbounded"/>
                                                    <xs:element name="CORP" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="CORP" minOccurs="0" maxOccurs="unbounded" ann:displaypriority="1"/>
                                                                <xs:element name="ADDR" minOccurs="0" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="ADDR" minOccurs="0" maxOccurs="unbounded"/>
                                                                            <xs:element name="ADR1" minOccurs="0" maxOccurs="unbounded"/>
                                                                            <xs:element name="ADR2" minOccurs="0" maxOccurs="unbounded"/>
                                                                            <xs:element name="CITY" minOccurs="0" maxOccurs="unbounded"/>
                                                                            <xs:element name="STAE" minOccurs="0" maxOccurs="unbounded"/>
                                                                            <xs:element name="POST" minOccurs="0" maxOccurs="unbounded"/>
                                                                            <xs:element name="CTRY" minOccurs="0" maxOccurs="unbounded"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="PHON" minOccurs="0" maxOccurs="unbounded"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="DATA" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="DATA" minOccurs="0" maxOccurs="unbounded"/>
                                                                <xs:element name="DATE" minOccurs="0" maxOccurs="unbounded"/>
                                                                <xs:element name="COPR" minOccurs="0" maxOccurs="unbounded"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="SUBM" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="SUBN" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="_HME" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="DEST" minOccurs="0" maxOccurs="unbounded" ann:displaypriority="2"/>
                                        <xs:element name="DATE" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="DATE" minOccurs="0" maxOccurs="unbounded" ann:displaypriority="1"/>
                                                    <xs:element name="TIME" minOccurs="0" maxOccurs="unbounded" ann:displaypriority="2"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="FILE" minOccurs="0" maxOccurs="unbounded" ann:displaypriority="3"/>
                                        <xs:element name="COPR" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="GEDC" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="VERS" minOccurs="0" maxOccurs="unbounded" ann:displaypriority="1"/>
                                                    <xs:element name="FORM" minOccurs="0" maxOccurs="unbounded" ann:displaypriority="2"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="LANG" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="CHAR" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="CHAR" minOccurs="0" maxOccurs="unbounded" ann:displaypriority="1"/>
                                                    <xs:element name="VERS" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="PLAC" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="FORM" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="NOTE" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="NoteText" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Entity" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NAME">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="NAME" ann:displaypriority="1" minOccurs="0" maxOccurs="unbounded"/>
                                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                        <xs:element name="NPFX"/>
                                                        <xs:element name="GIVN"/>
                                                        <xs:element name="NICK"/>
                                                        <xs:element name="NOTE"/>
                                                        <xs:element name="SPFX"/>
                                                        <xs:element name="SURN"/>
                                                        <xs:element name="NSFX"/>
                                                        <xs:element name="SOUR">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                        <xs:element name="SOUR" ann:displaypriority="1"/>
                                                                        <xs:element name="PAGE"/>
                                                                        <xs:element name="EVEN"/>
                                                                    </xs:choice>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:choice>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="GedcomId"/>
                                        <xs:element name="GedcomType" ann:displaypriority="5"/>
                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                            <xs:element name="TITL"/>
                                            <xs:element name="SUBM"/>
                                            <xs:element name="FAMF"/>
                                            <xs:element name="TEMP"/>
                                            <xs:element name="ANCE"/>
                                            <xs:element name="DESC"/>
                                            <xs:element name="ORDI"/>
                                            <xs:element name="RIN"/>
                                            <xs:element name="ABBR"/>
                                            <xs:element name="SOUR"/>
                                            <xs:element name="FORM"/>
                                            <xs:element name="AUTH"/>
                                            <xs:element name="PUBL"/>
                                            <xs:element name="BLOB"/>
                                            <xs:element name="NoteText"/>
                                            <xs:element name="ANUL"/>
                                            <xs:element name="CENS"/>
                                            <xs:element name="SLGS"/>
                                            <xs:element name="EVEN">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                            <xs:element name="EVEN"/>
                                                            <xs:element name="DATE"/>
                                                            <xs:element name="PLAC"/>
                                                            <xs:element name="TYPE"/>
                                                        </xs:choice>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="ADDR">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="ADDR" minOccurs="0" maxOccurs="unbounded"/>
                                                        <xs:element name="ADR1" minOccurs="0" maxOccurs="unbounded"/>
                                                        <xs:element name="ADR2" minOccurs="0" maxOccurs="unbounded"/>
                                                        <xs:element name="CITY" minOccurs="0" maxOccurs="unbounded"/>
                                                        <xs:element name="STAE" minOccurs="0" maxOccurs="unbounded"/>
                                                        <xs:element name="POST" minOccurs="0" maxOccurs="unbounded"/>
                                                        <xs:element name="CTRY" minOccurs="0" maxOccurs="unbounded"/>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="PHON"/>
                                            <xs:element name="LANG"/>
                                            <xs:element name="REFN">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                            <xs:element name="TYPE"/>
                                                            <xs:element name="REFN"/>
                                                        </xs:choice>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="REPO">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                            <xs:element name="REPO"/>
                                                            <xs:element name="NOTE"/>
                                                            <xs:element name="CALN">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="CALN"/>
                                                                            <xs:element name="MEDI"/>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:choice>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="OBJE">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                            <xs:element name="FORM"/>
                                                            <xs:element name="TITL"/>
                                                            <xs:element name="FILE"/>
                                                            <xs:element name="NOTE"/>
                                                            <xs:element name="OBJE"/>
                                                        </xs:choice>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="RFN"/>
                                            <xs:element name="CHAN">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="DATE" minOccurs="1" maxOccurs="1">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="DATE" minOccurs="0" maxOccurs="unbounded" ann:displaypriority="1"/>
                                                                    <xs:element name="TIME" minOccurs="0" maxOccurs="unbounded"/>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="NOTE" minOccurs="0" maxOccurs="unbounded"/>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="TEXT"/>
                                            <xs:element name="SEX"/>
                                            <xs:element name="FAMS"/>
                                            <xs:element name="FAMC"/>
                                            <xs:element name="HUSB"/>
                                            <xs:element name="WIFE"/>
                                            <xs:element name="MARR"/>
                                            <xs:element name="CHIL"/>
                                            <xs:element name="NOTE"/>
                                            <xs:element name="RESN"/>
                                            <xs:element name="NCHI"/>
                                            <!-- this section below is a sequence of duplicates that should be tidied up -->
                                            <xs:element name="ENGA">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                            <xs:element name="ENGA"/>
                                                            <xs:element name="DATE"/>
                                                            <xs:element name="PLAC"/>
                                                            <xs:element name="AGE"/>
                                                            <xs:element name="CAUS"/>
                                                            <xs:element name="AGNC"/>
                                                            <xs:element name="TYPE"/>
                                                            <xs:element name="NOTE"/>
                                                            <xs:element name="ADDR"/>
                                                            <xs:element name="HUSB">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="AGE"/>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="WIFE">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="AGE"/>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="OBJE">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="FORM"/>
                                                                            <xs:element name="TITL"/>
                                                                            <xs:element name="FILE"/>
                                                                            <xs:element name="NOTE"/>
                                                                            <xs:element name="OBJE"/>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="SOUR">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="SOUR"/>
                                                                            <xs:element name="PAGE"/>
                                                                            <xs:element name="QUAY"/>
                                                                            <xs:element name="NOTE"/>
                                                                            <xs:element name="DATA">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                                            <xs:element name="DATE"/>
                                                                                            <xs:element name="TEXT"/>
                                                                                        </xs:choice>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:choice>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="MARB">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                            <xs:element name="ENGA"/>
                                                            <xs:element name="DATE"/>
                                                            <xs:element name="PLAC"/>
                                                            <xs:element name="AGE"/>
                                                            <xs:element name="CAUS"/>
                                                            <xs:element name="AGNC"/>
                                                            <xs:element name="TYPE"/>
                                                            <xs:element name="NOTE"/>
                                                            <xs:element name="ADDR"/>
                                                            <xs:element name="HUSB">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="AGE"/>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="WIFE">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="AGE"/>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="OBJE">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="FORM"/>
                                                                            <xs:element name="TITL"/>
                                                                            <xs:element name="FILE"/>
                                                                            <xs:element name="NOTE"/>
                                                                            <xs:element name="OBJE"/>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="SOUR">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="SOUR"/>
                                                                            <xs:element name="PAGE"/>
                                                                            <xs:element name="QUAY"/>
                                                                            <xs:element name="NOTE"/>
                                                                            <xs:element name="DATA">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                                            <xs:element name="DATE"/>
                                                                                            <xs:element name="TEXT"/>
                                                                                        </xs:choice>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:choice>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="MARC">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                            <xs:element name="ENGA"/>
                                                            <xs:element name="DATE"/>
                                                            <xs:element name="PLAC"/>
                                                            <xs:element name="AGE"/>
                                                            <xs:element name="CAUS"/>
                                                            <xs:element name="AGNC"/>
                                                            <xs:element name="TYPE"/>
                                                            <xs:element name="NOTE"/>
                                                            <xs:element name="ADDR"/>
                                                            <xs:element name="HUSB">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="AGE"/>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="WIFE">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="AGE"/>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="OBJE">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="FORM"/>
                                                                            <xs:element name="TITL"/>
                                                                            <xs:element name="FILE"/>
                                                                            <xs:element name="NOTE"/>
                                                                            <xs:element name="OBJE"/>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="SOUR">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="SOUR"/>
                                                                            <xs:element name="PAGE"/>
                                                                            <xs:element name="QUAY"/>
                                                                            <xs:element name="NOTE"/>
                                                                            <xs:element name="DATA">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                                            <xs:element name="DATE"/>
                                                                                            <xs:element name="TEXT"/>
                                                                                        </xs:choice>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:choice>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="MARL">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                            <xs:element name="ENGA"/>
                                                            <xs:element name="DATE"/>
                                                            <xs:element name="PLAC"/>
                                                            <xs:element name="AGE"/>
                                                            <xs:element name="CAUS"/>
                                                            <xs:element name="AGNC"/>
                                                            <xs:element name="TYPE"/>
                                                            <xs:element name="NOTE"/>
                                                            <xs:element name="ADDR"/>
                                                            <xs:element name="HUSB">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="AGE"/>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="WIFE">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="AGE"/>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="OBJE">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="FORM"/>
                                                                            <xs:element name="TITL"/>
                                                                            <xs:element name="FILE"/>
                                                                            <xs:element name="NOTE"/>
                                                                            <xs:element name="OBJE"/>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="SOUR">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="SOUR"/>
                                                                            <xs:element name="PAGE"/>
                                                                            <xs:element name="QUAY"/>
                                                                            <xs:element name="NOTE"/>
                                                                            <xs:element name="DATA">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                                            <xs:element name="DATE"/>
                                                                                            <xs:element name="TEXT"/>
                                                                                        </xs:choice>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:choice>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="MARS">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                            <xs:element name="ENGA"/>
                                                            <xs:element name="DATE"/>
                                                            <xs:element name="PLAC"/>
                                                            <xs:element name="AGE"/>
                                                            <xs:element name="CAUS"/>
                                                            <xs:element name="AGNC"/>
                                                            <xs:element name="TYPE"/>
                                                            <xs:element name="NOTE"/>
                                                            <xs:element name="ADDR"/>
                                                            <xs:element name="HUSB">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="AGE"/>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="WIFE">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="AGE"/>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="OBJE">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="FORM"/>
                                                                            <xs:element name="TITL"/>
                                                                            <xs:element name="FILE"/>
                                                                            <xs:element name="NOTE"/>
                                                                            <xs:element name="OBJE"/>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="SOUR">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="SOUR"/>
                                                                            <xs:element name="PAGE"/>
                                                                            <xs:element name="QUAY"/>
                                                                            <xs:element name="NOTE"/>
                                                                            <xs:element name="DATA">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                                            <xs:element name="DATE"/>
                                                                                            <xs:element name="TEXT"/>
                                                                                        </xs:choice>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:choice>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="DIV">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                            <xs:element name="ENGA"/>
                                                            <xs:element name="DATE"/>
                                                            <xs:element name="PLAC"/>
                                                            <xs:element name="AGE"/>
                                                            <xs:element name="CAUS"/>
                                                            <xs:element name="AGNC"/>
                                                            <xs:element name="TYPE"/>
                                                            <xs:element name="NOTE"/>
                                                            <xs:element name="ADDR"/>
                                                            <xs:element name="HUSB">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="AGE"/>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="WIFE">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="AGE"/>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="OBJE">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="FORM"/>
                                                                            <xs:element name="TITL"/>
                                                                            <xs:element name="FILE"/>
                                                                            <xs:element name="NOTE"/>
                                                                            <xs:element name="OBJE"/>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="SOUR">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="SOUR"/>
                                                                            <xs:element name="PAGE"/>
                                                                            <xs:element name="QUAY"/>
                                                                            <xs:element name="NOTE"/>
                                                                            <xs:element name="DATA">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                                            <xs:element name="DATE"/>
                                                                                            <xs:element name="TEXT"/>
                                                                                        </xs:choice>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:choice>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="DIVF">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                            <xs:element name="ENGA"/>
                                                            <xs:element name="DATE"/>
                                                            <xs:element name="PLAC"/>
                                                            <xs:element name="AGE"/>
                                                            <xs:element name="CAUS"/>
                                                            <xs:element name="AGNC"/>
                                                            <xs:element name="TYPE"/>
                                                            <xs:element name="NOTE"/>
                                                            <xs:element name="ADDR"/>
                                                            <xs:element name="HUSB">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="AGE"/>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="WIFE">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="AGE"/>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="OBJE">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="FORM"/>
                                                                            <xs:element name="TITL"/>
                                                                            <xs:element name="FILE"/>
                                                                            <xs:element name="NOTE"/>
                                                                            <xs:element name="OBJE"/>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="SOUR">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="SOUR"/>
                                                                            <xs:element name="PAGE"/>
                                                                            <xs:element name="QUAY"/>
                                                                            <xs:element name="NOTE"/>
                                                                            <xs:element name="DATA">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                                            <xs:element name="DATE"/>
                                                                                            <xs:element name="TEXT"/>
                                                                                        </xs:choice>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:choice>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <!-- ende of section above that is a sequence of duplicates that should be tidied up -->
                                            <xs:element name="BIRT">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="DATE" minOccurs="0" maxOccurs="unbounded"/>
                                                        <xs:element name="PLAC" minOccurs="0" maxOccurs="unbounded"/>
                                                        <xs:element name="TYPE" minOccurs="0" maxOccurs="unbounded"/>
                                                        <xs:element name="ADDR" minOccurs="0" maxOccurs="unbounded"/>
                                                        <xs:element name="AGNC" minOccurs="0" maxOccurs="unbounded"/>
                                                        <xs:element name="OBJE" minOccurs="0" maxOccurs="unbounded">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                        <xs:element name="TITL"/>
                                                                        <xs:element name="FORM"/>
                                                                        <xs:element name="FILE"/>
                                                                        <xs:element name="NOTE"/>
                                                                        <xs:element name="OBJE"/>
                                                                    </xs:choice>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="DEAT">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="DEAT" minOccurs="0" maxOccurs="unbounded"/>
                                                        <xs:element name="DATE" minOccurs="0" maxOccurs="unbounded"/>
                                                        <xs:element name="PLAC" minOccurs="0" maxOccurs="unbounded"/>
                                                        <xs:element name="AGE" minOccurs="0" maxOccurs="unbounded"/>
                                                        <xs:element name="CAUS" minOccurs="0" maxOccurs="unbounded"/>
                                                        <xs:element name="OBJE" minOccurs="0" maxOccurs="unbounded">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                        <xs:element name="TITL"/>
                                                                        <xs:element name="FORM"/>
                                                                        <xs:element name="FILE"/>
                                                                        <xs:element name="NOTE"/>
                                                                        <xs:element name="OBJE"/>
                                                                    </xs:choice>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="DATA">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                            <xs:element name="DATA"/>
                                                            <xs:element name="NOTE"/>
                                                            <xs:element name="AGNC"/>
                                                            <xs:element name="EVEN">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                                            <xs:element name="EVEN"/>
                                                                            <xs:element name="DATE"/>
                                                                            <xs:element name="PLAC"/>
                                                                            <xs:element name="TYPE"/>
                                                                        </xs:choice>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:choice>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Relation" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Link" type="xs:string" ann:displaypriority="1"/>
                            <xs:element name="UniqueIdentifier" type="UniqueIdentifier" minOccurs="1" maxOccurs="1"/>
                            <xs:element name="Type" type="xs:string"/>
                            <xs:element name="TargetName" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>